@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 60% 95%;
    --foreground: 233 30% 20%;
    --card: 231 60% 98%;
    --card-foreground: 233 30% 20%;
    --popover: 231 60% 98%;
    --popover-foreground: 233 30% 20%;
    --primary: 233 64% 30%;
    --primary-foreground: 231 60% 95%;
    --secondary: 231 40% 90%;
    --secondary-foreground: 233 64% 30%;
    --muted: 231 40% 90%;
    --muted-foreground: 231 20% 50%;
    --accent: 36 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 85%;
    --input: 231 20% 88%;
    --ring: 36 100% 50%;
    --chart-1: 233 64% 30%;
    --chart-2: 36 100% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --card: 221 39% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 221 39% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 45 93% 47%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 28% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 28% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 190 95% 53%;
    --accent-foreground: 221 39% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 28% 17%;
    --input: 217 28% 17%;
    --ring: 45 93% 47%;
    --chart-1: 190 95% 53%;
    --chart-2: 45 93% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
